  <body class="container">
    <div class="col-md-12 jumbotron mb-0 bg-danger">
        <div class="text-center">
            <div class="buzz">BUZZ ME </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-orange">
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active mx-5" id="scrape">
        <a class="nav-link" href="/">Get Articles
          <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles
          <span class="sr-only"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container p-2">
  <div class="row">
    <div class="col-md-12">
      {{#each result}}
          <div class="article my-3">
             <h5 align="middle">{{title}}</h5>
            <p align="middle">{{summary}}</p>
              <a href={{link}} class="read" target="_blank" align="middle">Read More</a>
              <form action="/save/{{this.id}}" method="POST" id="save-article" class="d-inline">
                  <input type="hidden" name="id" value={{_id}}>
                  <button class="btn btn-link ml-danger" id="saveButton" type="submit" align="middle">Save Article</button>
              </form>
          </div>
      {{/each}}
    </div>
  </div>
</div>


    <script src="app.js"></script>
  </body>